 *{margin:0;padding:0;}
   body{background:#dedede;font-family:"微软雅黑";font-size:14px;}
   a{ text-decoration:none;color:#999;}
   a:hover{color:#00F;}
   ul li{list-style:none;}
   header
   {
       height:60px;
       padding:10px 60px;
       position:relative;
       background:#000;
       }
    header img
    {
    width:60px;
    height:60px;
    }
   header nav
    {
    position:absolute;
    right:60px;
    bottom:22px;
    }
  header  nav li
   {
       padding:10px;
       float:left;
       }
p,dt,label{text-indent:2em;}
 article,aside{padding:20px 10px;
 box-shadow:0  5px 5px  0  #000;
 line-height:2em;
border:solid 1px #999;
width:1242px;
margin:20px auto;
background:white;
}
h3
{
    color:#999;
}
.publish
{
    text-indent:2em;
    color:#999;
    }
img
{
    padding-left:28px;
    }
article dl dd{
    width:120px;
    margin:15px;
    border:1px solid #ccc;
}
article dl dd span{
    display:block;
    font-size:12px;
    text-align:center;
    margin:5px;
}
article dl dd img{
    width:110px;
    padding:5px;
}
article  ol{margin: 10px 40px;}
article table
{    width:100%;
    border-collapse: collapse;}
    <!--设置表格的边框被合并为一个单一的边框-->
.Thead{
    background:#000;
    color:#FFF;
    }
.bottomData
{background:#999;}
h4
{
  height:40px;
    line-height:40px;
    padding-left:10px;
    border-left:3px solid #ccc;
}
/*侧栏*//*************************************************/
aside h4{
    height:40px;
    line-height:40px;
    padding-left:10px;
    border-left:3px solid #ccc;
}
aside form div{
    font-size: 14px;
    margin:15px 0;
}

aside form div .tips{
    float:left;           /*添加后个人描述四个字才和文本域上对齐*/
    text-align:right;
    width:35%;
    padding-right:15px;
}
aside form div p{
    margin-left:35%;
    padding-left:15px;
    font-size:12px;
    color: #aaa;
}
aside textarea{
    width:50%;
    height:100px;

}
aside .submitButton{
    width:100%;
    height:40px;
    border-radius: 10px;
    background: #128fdc;
    color: white;
    font-size: 19px;
    border:none;
}
aside .submitButton:hover{
    background: #0063dc;

}
footer
{
    background:#000;
    color:white;
    text-align:center;
    font-size:14px;
    height:40px;
    padding:20px auto;
    }